<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
					<th>TIPO</th>
					<th>Fecha/hora inicio</th>
					<th>Fecha/hora fin</th>
					<th>Estado</th>
				</tr>
			<tbody>
				<tr th:each="sensorluz:${sensoresLuz}">
					<td th:text="${sensorluz.idDispositivo}"></td>
					<td th:text="${sensorluz.nombre}"></td>
					<td>Sensor Luz</td>
					<td th:text="${sensorluz.activaDesde}"></td>
					<td th:text="${sensorluz.activaHasta}"></td>
					<td th:if="${sensorluz.estado == true}" th:text="Encendido"></td>
					<td th:if="${sensorluz.estado == false}" th:text="Apagado"></td>
					<td><a th:href="@{/dispositivo/editar/}+${sensorluz.idDispositivo}" class="btn btn-warning">Editar</a>
					 <a th:href="@{/dispositivo/eliminar/}+${sensorluz.idDispositivo}" class="btn btn-danger">Eliminar</a></td>
				</tr>
				<tr th:each="sensorproximidad:${sensoresProximidad}">
					<td th:text="${sensorproximidad.idDispositivo}"></td>
					<td th:text="${sensorproximidad.nombre}"></td>
					<td>Sensor Proximidad</td>
					<td th:text="${sensorproximidad.llegada}"></td>
					<td th:text="${sensorproximidad.salida}"></td>
					<td th:if="${sensorproximidad.estado == true}" th:text="Encendido"></td>
					<td th:if="${sensorproximidad.estado == false}" th:text="Apagado"></td>
					<td><a th:href="@{/dispositivo/editar/}+${sensorproximidad.idDispositivo}" class="btn btn-warning">Editar</a>
					<a th:href="@{/dispositivo/eliminar/}+${sensorproximidad.idDispositivo}" class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>

