<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/newsproxi}" th:object=${sensorProximidad} method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Sensor proximidad</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>NOMBRE</label> <input th:field="*{nombre}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>ESTADO</label> <input th:field="*{estado}" type="checkbox" />
						</div>
						<div class="form-group">
							<label>LLEGADA DESDE</label> <input th:field="*{llegada}"
								type="datetime-local" class="form-control" />
						</div>
						<div class="form-group">
							<label>SALIDA HASTA</label> <input th:field="*{salida}"
								type="datetime-local" class="form-control" />
						</div>
						<div class="card-footer">
							<input type="submit" value="Guardar" class="btn btn-success">
						</div>
					</div>
			</form>
		</div>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>